/* ------------------- 
    Common Style
--------------------- */
body {
    margin: 0;
    padding: 0;
    background-color: #FEFEFE;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* ------------------- 
    Header Style
--------------------- */

header {
    background: #2D25A0;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0;
}

.links {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.btn {
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: #E02C6D;
    border-radius: 5px;
}

.login-btn {
    padding: 10px 40px !important;
}

.login-btn i {
    position: relative;
    right: 5px;
    transition: right 0.3s linear;
}

.login-btn:hover i {
    right: 2px;
}

/* Top Banner */
.top-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 86px 0;
}

.top-banner .left,
.top-banner .right {
    width: 50%;
}

.top-banner img {
    width: 100%;
}

.left h1 {
    font-size: 64px;
}

.color-text {
    color: #3DBAFD;
}

.watch-live {
    padding: 10px 24px;
}

.watch-live i {
    position: relative;
    left: 3px;
    transition: left 0.3s linear;
}

.watch-live:hover i {
    left: 6px;
}

/* --------------------------
     Players Section Style
--------------------------- */
section.container {
    margin: 100px auto;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.player {
    padding: 15px 15px 33px 15px;

    background-color: #ffffff;
    box-shadow: 0 0 10px #56565625;
}

.player img {
    width: 100%;
}

.player h2 {
    font-size: 28px;
}

.player p {
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}



/* --------------------------
    Count Section Styles
----------------------------- */

.count-section {
    background-color: #FFC050;
    /* background-color: #DA9A29; */
}

.items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 0;
}

.item {
    display: flex;
    align-items: center;
}

.item .icons img {
    width: 100px;
    margin-right: 15px;
}

.item h2 {
    font-size: 40px;
    margin: 0;
}

.item p {
    margin: 0;
}

/* -----------------------------
    Highlights Section Style
------------------------------- */
.highlights {
    display: flex;
    align-items: center;
    height: 900px;
    background-image: url(./images/highlights-bg.jpg);
    background-position: center -50px;
    background-size: cover;
    background-repeat: no-repeat;
}

.highlights .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.highlights .left,
.highlights .right {
    width: 45%;
}

.right h2 {
    font-size: 3rem;
}

.right p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}



/* --------------------------
    Footer Section Styles
----------------------------- */
.footer {
    margin: 65px auto;
}

.logo {
    text-align: center;
}

.logo img {
    width: 483.87px;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0;
}

.social-icons li {
    display: flex;
    Width: 32px;
    Height: 32px;
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: #0b0d1710;
}

.social-icons li a {
    font-size: 18px;
    color: #969BAB;
}

.social-icons li:hover a {
    color: #565656;
}

.footer p {
    text-align: center;
    font-size: 18px;
}